<script src="/controllerUI/xlsx.full.min.js"></script>
<script src="/controllerUI/table.js"></script>

<link rel="stylesheet" href="/css/index.css">
<script src="https://kit.fontawesome.com/ca1e01d59c.js"></script>
<script src="/controllerUI/main.js"></script>
<div style="background-color: #273c75">
    <div class="col-md-12">
        <br>
        <input type="file" id="file" />
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Guardar tabla
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Nueva Tabla</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Nombre</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputEmail3" placeholder="Identificador para la tabla">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button onclick="modalEventAplicar(this.parentElement.parentElement.children[1].children[0]['inputEmail3'].value);" type="button" class="btn btn-primary">Aplicar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{!-- fin del modal --}}

    <div style="margin-left: 0px !important;" id="items" class="col-md-12 row">
        <div id="select"></div>
        <div id="selectPrincipal"></div>

        <form>
            <div class="multiselect">
                <div class='selectBox_'>
                    <button type='button' onclick="btnEventClasificar();"
                        class='btn btn-outline-dark btn-sm'>Clasificar</button>
                </div>
                <div class="selectBox" onclick="showCheckboxes(this)">
                    <select>
                        <option>Seleccione...</option>
                    </select>
                    <div class="overSelect"></div>
                </div>
                <div id="checkboxes">
                    <div class='search-box'>
                        <input class='search-txt' type='text' onkeyup='buscar(this.value, "cbxPrincipal");' name=''
                            placeholder='Buscar...'>
                        <a class='search-btn' href='#'>
                            <i class='fas fa-bullhorn'></i>
                        </a>
                    </div>
                    <!-- <input type="text" onkeyup='buscar(this.value);' name="firstname"> -->
                    <br>
                    <div id="itemsX"></div>
                </div>
            </div>
        </form>

    </div>
    <br>
    <div class="col-md-12">
        <div id="app"></div>
    </div>


    <div id="OneLoader" style="display: none;" class="middle">
        <div class="bar bar1"></div>
        <div class="bar bar2"></div>
        <div class="bar bar3"></div>
        <div class="bar bar4"></div>
        <div class="bar bar5"></div>
        <div class="bar bar6"></div>
        <div class="bar bar7"></div>
        <div class="bar bar8"></div>
    </div>

</div>

<script type="application/javascript">
    'use strict';

    (() => {
        let numberToDate = (value) => new Date(parseInt((value + 2 - 25569.833299) * 86400, 10) * 1000).toLocaleDateString("es-MX");


        // alert(numberToDate(41517));


    })();
    var oWorker;
    const instancia = new TableUI();
    var firstSheet = [];
    var workbook, _Tabla = null;
    const input = document.getElementById('file');
    const editor = document.getElementById('contenido');

    var loader = (flag) => {
        document.querySelector('#OneLoader').style.display = flag;
    };

    input.addEventListener('change', async function () {
        var reader = new FileReader();
        reader.onload = async function () {
            debugger
            var arrayBuffer = this.result,
                array = new Uint8Array(arrayBuffer);
            if (input.files.length > 0) {
                if (input.files[0].name.includes('.xml')) {
                    var data = new Uint8Array(arrayBuffer);
                } else {
                    loader('block');
                    oWorker = new Worker('/controllerUI/OpenExcelWorker.js');
                    oWorker.postMessage(arrayBuffer);
                    oWorker.onmessage = (e) => {
                        debugger
                        workbook = e.data;
                        instancia.renderSelect('select', workbook.SheetNames);
                        oWorker.terminate();
                        oWorker = undefined;
                        loader('none');
                    }
                }
                // await abrirExcel(arrayBuffer);
                // await instancia.renderSelect('select', firstSheet);

            }
        }
        await reader.readAsArrayBuffer(this.files[0]);
    });

    function buscar(e, _elementName) {
        debugger;
        const valores = document.getElementsByClassName(_elementName);
        var _array = Array.from(valores);
        if (e.length >= 2) {
            _array.forEach(_element => {
                var t = _element.labels[0].innerText.toLowerCase();
                var check = t.includes(e);
                if (!check) _element.labels[0].style.display = 'none';
                else _element.labels[0].style.display = 'block';
                debugger;
            });

        } else {
            _array.forEach(_element => {
                _element.labels[0].style.display = 'block';
            })
        }
        debugger
    }

    function _buscar(e, _elementName) {
        debugger;
        let _arrayValores = [];
        const valores = document.getElementsByClassName(_elementName);
        var _array = Array.from(valores);
        if (e.length >= 2) {
            _array.forEach(_element => {
                var t = _element.innerText.toLowerCase();
                var check = t.includes(e);
                if (check) _arrayValores.push(_element.innerText);
                // if (!check) _element.style.display = 'none';
                // else _element.style.display = 'block';

            });
            debugger;
            if (_arrayValores.length > 0) {
                debugger
                instancia.renderSelectEspecial('boxitemsX' + _elementName.replace('cbx', ''), _arrayValores);
            }
            // alert('Termine');
        } else {
            _array.forEach(_element => {
                _element.style.display = 'block';
            })
        }
        debugger
    }

    function abrirExcel(Arraybuffer) {
        var data = new Uint8Array(Arraybuffer);
        var arr = new Array();
        for (var i = 0; i != data.length; ++i) arr[i] = String.fromCharCode(data[i]);
        var bstr = arr.join(""); /* Call XLSX */
        workbook = XLSX.read(bstr, {
            type: "binary"
        });
        firstSheet = workbook.SheetNames;
    }

    function eventChecked(e) {
        debugger;
        var contenedor = document.getElementById('items');
        let newDiv = document.createElement('div'),
            _xVal = e.labels[0].innerText;
        if (e.checked) {

            newDiv.id = `itemsX${_xVal}`;
            contenedor.appendChild(newDiv);
            var _aux = _Tabla.getDataFilter(_xVal);
            _Tabla.creaNodo(newDiv.id);
            instancia.renderSelectEspecial(newDiv.id,
                _aux
            ); // let elementoX = e.labels[0].innerText; debugger } else { contenedor.removeChild(document.getElementById(`itemsX${e.labels[0].innerText}`));
        } else {
            contenedor.removeChild(document.getElementById(`itemsX${e.labels[0].innerText}`));
            _Tabla.arrayRemoveClasificar(_xVal);
        }
    }

    async function prueba(e) {
        if (e != -1) {
            var first_sheet_name = workbook.SheetNames[e];
            debugger;
            var worksheet = workbook.Sheets[first_sheet_name];
            var array = XLSX.utils.sheet_to_json(worksheet, {
                defval: ""
            });
            var o =
                Object.keys(array[0]);
            await instancia._renderSelectEspecial('itemsX', 'Principal', o);
            var t = await instancia.renderTable(o, array);

            var oWorker = new Worker('./app/js/workers/RenderElementWorker.js');
            oWorker.postMessage({
                _element: document.querySelector('#Sapp'),
                _data: t
            });
            _Tabla = new Tabla(o, array);
        }
    }
    var expanded = false;

    function showCheckboxes() {
        var checkboxes = document.getElementById("checkboxes");
        if (!expanded) {
            checkboxes.style.display = "block";
            expanded = true;
        } else {
            checkboxes.style.display = "none";
            expanded = false;
        }
    }

    function showCheckboxesEspecial(e) {
        debugger;
        var checkboxes = document.getElementById(e);

        if (checkboxes.style.display === 'block') checkboxes.style.display = "none";
        else checkboxes.style.display = "block";
    }
    class Tabla {
        constructor(_columnas, _data) {
            this.columnas = _columnas;
            this.data = _data;
            this.Clasificacion = [];
        }
        set setData_(val) {
            this.data = val;
        }
        get getData_() {
            return this.data;
        }

        set setColumnas(val) {
            this.columnas = val;
        }
        get getColumnas() {
            return this.columnas;
        }

        getDataFilter(_val) {
            Array.prototype.groupBy = function (prop) {
                var array = [];
                return this.reduce(function (groups, item) {
                    const val = item[prop]
                    groups[val] = groups[val] || [];
                    groups[val].push(item);
                    return groups
                }, {})
            };
            return Object.keys(this.data.groupBy(_val));
        }

        getGroupByValor(groupByProperties_, _name) {
            const groupBy = ({
                Group: _array,
                By: props,
                Name: colName
            }) => {
                let getGroupedItems = (item) => {

                    var returnArray = [];
                    let i;

                    for (i = 0; i < props.length; i++) {
                        switch (parseInt(props[i].Operador)) {
                            case 0: //<
                                if (parseFloat(item[colName]) < parseFloat(props[i].Value))
                                    returnArray.push(item);
                                break;
                            case 1: //>
                                if (parseFloat(item[colName]) > parseFloat(props[i].Value))
                                    returnArray.push(item);
                                break;
                        }

                    }
                    return returnArray;
                };

                let groups = [];
                let i;
                debugger;

                for (i = 0; i < _array.length; i++) {
                    const arrayRecord = _array[i];
                    debugger
                    const group = getGroupedItems(arrayRecord);
                    if (group.length > 0)
                        groups.push(arrayRecord);
                }
                debugger;
                return Object.keys(groups).map((group) => {
                    return groups[group];
                });
            };

            return groupBy({
                Group: this.data,
                By: groupByProperties_,
                Name: _name
            });
        }

        getGroupBy(groupByProperties_, _name) {
            const groupBy = ({
                Group: _array,
                By: props,
                Name: colName
            }) => {
                let getGroupedItems = (item) => {

                    var returnArray = [];
                    let i;
                    for (i = 0; i < props.length; i++) {
                        if (item[colName] === props[i])
                            returnArray.push(item);
                    }
                    return returnArray;
                };

                let groups = [];
                let i;

                for (i = 0; i < _array.length; i++) {
                    const arrayRecord = _array[i];
                    const group = getGroupedItems(arrayRecord);
                    debugger;
                    if (group.length > 0)
                        groups.push(arrayRecord);
                }
                debugger;
                return Object.keys(groups).map((group) => {
                    return groups[group];
                });
            };

            return groupBy({
                Group: this.data,
                By: groupByProperties_,
                Name: _name
            });
        }

        getDataClasificar() {
            return this.Clasificacion;
        }

        creaNodo(_name) {
            let data = {
                nodo: {
                    'Nombre': _name.replace('itemsX', ''),
                    'Tipo': [],
                    'Valor': [],
                    'Fecha': {
                        'Normal': {
                            'Valor': '',
                            'Operador': ''
                        },
                        'Compuesta': {
                            'FechaA': {},
                            'FechaB': {}
                        }
                    }
                }
            };
            this.Clasificacion.push(data);
        }

        imprimeJson() {
            console.log(this.Clasificacion);
        }

        addElementJson(objectName, value_, _type) {

            let isContain = (name) => {
                this.Clasificacion.forEach(dato => {
                    if (dato.nodo.Nombre === name) return true;
                });
                return false;
            }

            if (!isContain(objectName))
                this.Clasificacion.forEach(_element => {
                    if (_element.nodo.Nombre === objectName) {
                        switch (_type) {
                            case 'Tipo':
                                _element.nodo.Tipo.push(value_.trimStart());
                                break;
                            case 'Valor':
                                _element.nodo.Valor.push(value_)
                                break;
                            case 'Fecha':
                                break;
                        }
                    }
                    debugger;
                });
        }

        removeElementJson(objectName, value_, _type) {
            let arrayRemoveValor = (arr, value) => arr.filter(ele => ele.Id != value),
                arrayRemove = (arr, value) => arr.filter(ele => ele != value);
            this.Clasificacion.forEach(_element => {
                if (_element.nodo.Nombre === objectName) {
                    switch (_type) {
                        case 'Tipo':
                            _element.nodo.Tipo = arrayRemove(_element.nodo.Tipo, value_.trimStart());
                            break;
                        case 'Valor':
                            _element.nodo.Valor = arrayRemoveValor(_element.nodo.Valor, value_);
                            break;
                        case 'Fecha':
                            break;
                    }
                }
                debugger;
            });
        }

        // arrayRemove(arr, value) {
        //     debugger;
        //     return arr.filter(ele => ele != value);
        // }

        arrayRemoveClasificar(objectName) {
            this.Clasificacion = this.Clasificacion.filter(_element => {
                return _element.nodo.Nombre !== objectName;
            });
        }
    }
</script>