<link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">
<script src="/controllerUI/oneMapsUI.js"></script>
<script src="/controllerUI/oneMaps.js"></script>
  <script src="https://trojx.oss-cn-hangzhou.aliyuncs.com/kriging-original.js"></script>
        
        <script src="https://d3js.org/d3.v4.js"></script>
<style>
  .tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
  }

  .tooltip-measure {
    opacity: 1;
    font-weight: bold;
  }

  .tooltip-static {
    background-color: #ffcc33;
    color: black;
    border: 1px solid white;
  }

  .tooltip-measure:before,
  .tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
  }

  .map {
    width: 80%;
    height: 100%;
    float: left;
  }

  .tooltip-static:before {
    border-top-color: #ffcc33;
  }

  .fullscreen:-moz-full-screen {
    height: 100%;
  }

  .fullscreen:-webkit-full-screen {
    height: 100%;
  }

  .fullscreen:-ms-fullscreen {
    height: 100%;
  }

  .fullscreen:fullscreen {
    height: 100%;
  }

  .fullscreen {
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
  }

  .ol-rotate {
    top: 3em;
  }

  .map {
    width: 80%;
    height: 100%;
    float: left;
  }

  .sidepanel {
    background: #1F6B75;
    width: 20%;
    height: 100%;
    float: left;
    padding: 15px 15px 15px 15px;
  }

  .sidepanel-title {
    width: 100%;
    font-size: 3em;
    color: #ffffff;
    display: block;
    text-align: center;
  }

  .form-inline {
    width: 100%;
    font-size: 1em;
    color: #ffffff;
    display: block;

  }

  .popup {
    background-color: #FFF;
    border: 1px solid #CCC;
    padding: 0.1em 1em 0.5em 0.5em;
    overflow-x: hidden;
    overflow-y: visible;
    height: 250px;
  }
</style>
<br>
<div id="fullscreen" class="fullscreen">
  <div id="map" class="map"></div>
  <div id="popup" class="popup">
    <a href="/" id="popup-closer">Cerrar</a>
    <div id="popup-content"></div>
  </div>
  <div class="sidepanel">
    <span class="sidepanel-title">Menu</span>
    <form class="form-inline">
      {{!-- <label>- Measurement type &nbsp;</label> --}}
      <select id="type">
        <option value="length">Linea</option>
        <option value="area">Area (Polygon)</option>
        <option value="circle">Circle (Circulo)</option>
      </select>
    </form>
    <div id="selectMap"></div>
    <button id="anularButton">Dejar de Dibujar</button>
    <button id="pozosButton">Pozos</button>
    <input id="distance" type="range" min="0" max="100" step="1" value="40" />
    <button id="removePozos">Remover Pozos</button>
    <button id="burbujasButton">Burbujas</button>
    <div id="container-burbuja"></div>

     <button id="removeButton">Layers</button>
    <div id="container-remove"></div>
    
<button id="showLayers">Show Layers</button>
   

  </div>
</div>
{{!-- <div id="map" class="map"></div> --}}
<script type="text/javascript">

  'use strict';

  var slcEventChange = value => {
    var storageTables = JSON.parse(localStorage.getItem(value));
    var columnas = Object.keys(storageTables[0]);
    var slcLatitud = document.getElementById('slcLatitud'),
      slcLongitud = document.getElementById('slcLongitud'),
      slcVariable = document.getElementById('slcVariable');
    columnas.forEach((elementX, index) => {
      // Creamos un objeto option
      var miOption = document.createElement("option");

      // Añadimos las propiedades value y label
      miOption.setAttribute("value", elementX);
      miOption.setAttribute("label", elementX);

      // Añadimos el option al select
      slcLatitud.appendChild(miOption.cloneNode("option"));
      slcLongitud.appendChild(miOption.cloneNode("option"));
      slcVariable.appendChild(miOption.cloneNode("option"));

    });
    debugger
  };
  //Graficar circulos
  var processForm = (e) => {
    debugger;
    var form = e.parentElement.parentElement;
    Cmapa.nameCoordenadaX_ = form[1].value;
    Cmapa.nameCoordenadaY_ = form[2].value

    var variable = form[5].value;
    var tabla = JSON.parse(localStorage.getItem(form[0].value));
    var color = form[6].value;
    var nombre = form[8].value;
    var dataSource = null;
    var tipoGrfica = form[4].value;
  
    switch (tipoGrfica) {
      case 'Burbuja':
        dataSource = Cmapa.setArrayBurbuja(tabla, variable, color);
        break;
      case 'Anotaciones':
        dataSource = Cmapa.setArrayPolygon(tabla, color, nombre);
        break;
         case 'AnotacionesLinea':
        dataSource = Cmapa.setArrayLine(tabla, color, nombre);
        break;
        case 'AnotacionesPuntos':
        dataSource = Cmapa.setArrayPuntos(tabla, color, nombre);
        break;
      case 'Kriging':
        Cmapa.setKriging(tabla, variable, nombre);
        arrayLayers.push({
      name: nombre,
      tipo: tipoGrfica
      });
        break;
    }

    if(dataSource != null){
  map.addLayer(dataSource);
  arrayLayers.push({
      name: nombre,
      tipo: tipoGrfica
      })
    }
  
  }

  // import   from ''
  //import mapaUI from '/controllerUI/oneMapsUI.js';
  var pozitos = [];
  var Cmapa = null;
  (function () {
    pozitos = {{{gridData}}}
  Array.prototype.groupBy = function (prop) {
    var array = [];
    return this.reduce(function (groups, item) {
      const val = item[prop]
      groups[val] = groups[val] || []
      groups[val].push(item)
      if (!array.includes(item.Campo)) {
        array.push(item.Campo);
      }
      return array
    }, {})
  };
  const groupedByTime = pozitos.groupBy('Campo');
  var miClase = new mapUI().renderSelect(groupedByTime);

  Cmapa = new OneMap(pozitos);
  
}());



  // -CLUSTER CON BURBUJAS
  // -MAPA
  // -MEASURES
  // -BOTONES


  ////////////////////////////////////////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////CLUSTER CON BURBUJAS////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////
  var popup = elem_id('popup');
  var count = pozitos.length;
  var features = new Array(count);
  var circle = new Array(count);
  var e = 45000000;
  var pozosBoton = document.getElementById('pozosButton');
  var removePozos = document.getElementById('removePozos');
  var burbujasBoton = document.getElementById('burbujasButton');
  var removeButton = document.getElementById('removeButton');

  var anularBoton = document.getElementById('anularButton');
  var x;
  var y;
  var coordinates;

  //Popup
  var popup = elem_id('popup');
  var popup_closer = elem_id('popup-closer');
  var popup_content = elem_id('popup-content');
  var olpopup = new ol.Overlay({
    element: popup,
    autoPan: false
  });



  var OpenPopup = function (evt) {
    Cmapa.OpenPopup(evt);
  };



  var styleCache = {};
  var styleCache1 = {};
  var styleCache2 = {};
  var styleCache3 = {};

  var distance = document.getElementById('distance');
  var clusterSource = Cmapa.crearClusterSource(distance.value)//crearClusterSource(features, distance.value)
  var clusters = Cmapa.agregarCluster(clusterSource, '#FF2A2A');//agregarCluster(clusterSource, '#FF2A2A');

  function elem_id(id) {
    return document.getElementById(id);
  }
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////MAPA////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////


  var source1 = new ol.source.Vector();
  var vector = new ol.layer.Vector({
    source: source1,
    style: new ol.style.Style({
      fill: new ol.style.Fill({
        color: 'rgba(255, 255, 255, 0.2)'
      }),
      stroke: new ol.style.Stroke({
        color: '#ffcc33',
        width: 2
      }),
      image: new ol.style.Circle({
        radius: 7,
        fill: new ol.style.Fill({
          color: '#ffcc33'
        })
      })
    })
  });

  var raster = new ol.layer.Tile({
    source: new ol.source.OSM()
  });

  var map = new ol.Map({
    controls: ol.control.defaults().extend([
      new ol.control.FullScreen({
        source: 'fullscreen'
      })
    ]),
    target: 'map',
    projection: "EPSG:3857",
    layers: [
      new ol.layer.Tile({
        source: new ol.source.XYZ({
          attributions: 'Tiles © <a href="https://services.arcgisonline.com/ArcGIS/' +
            'rest/services/World_Topo_Map/MapServer">ArcGIS</a>',
          url: 'https://server.arcgisonline.com/ArcGIS/rest/services/' +
            'World_Topo_Map/MapServer/tile/{z}/{y}/{x}'
        })
      }), vector
    ],
    view: new ol.View({
      center: ol.proj.fromLonLat([-92.1, 17.5]),
      zoom: 7
    })
  });

  ////////////////////////////////////////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////Measure Tool////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////

var arrayLayers = [];

  var sketch;

  var measureTooltipElement;
  var measureTooltip;
  var listener;
  var draw;
  var typeSelect = document.getElementById('type');

var staticTooltip = document.getElementsByClassName("tooltip-static")[0];
if (staticTooltip) {
  staticTooltip.parentNode.removeChild(staticTooltip);
  createMeasureTooltip();
}

  function formatLength(line) {
    var length = ol.sphere.getLength(line);
    var output;
    if (length > 100) {
      output = (Math.round(length / 1000 * 100) / 100) +
        ' ' + 'km';
    } else {
      output = (Math.round(length * 100) / 100) +
        ' ' + 'm';
    }
    return output;
  };


  function formatArea(polygon) {
    var area = ol.sphere.getArea(polygon);
    var output;
    if (area > 10000) {
      output = (Math.round(area / 1000000 * 100) / 100) +
        ' ' + 'km<sup>2</sup>';
    } else {
      output = (Math.round(area * 100) / 100) +
        ' ' + 'm<sup>2</sup>';
    }
    return output;
  };


  function addInteraction() {
    var type;
    switch (typeSelect.value) {
      case 'area':
        type = 'Polygon';
        break;
      case 'length':
        type = 'LineString';
        break;
      case 'circle':
        type = 'Circle';
        break;

    }
    drawSource(type)

    map.addInteraction(draw);

    createMeasureTooltip();

    drawStart();
    drawEnd();
  }


  function drawStart() {
    draw.on('drawstart',
      function (evt) {
        sketch = evt.feature;
        var tooltipCoord = evt.coordinate;
        listener = sketch.getGeometry().on('change', function (evt) {
          var geom = evt.target;
          var output;
          if (geom instanceof ol.geom.Polygon) {
            output = formatArea(geom);
            tooltipCoord = geom.getInteriorPoint().getCoordinates();
          } else if (geom instanceof ol.geom.LineString) {
            output = formatLength(geom);
            tooltipCoord = geom.getLastCoordinate();
          }
          measureTooltipElement.innerHTML = output;
          measureTooltip.setPosition(tooltipCoord);
        });
      },
      this);
  }

  function drawEnd() {
    draw.on('drawend',
      function () {
        measureTooltipElement.className = 'tooltip tooltip-static';
        measureTooltip.setOffset([0, -7]);
        // unset sketch
        sketch = null;
        // unset tooltip so that a new one can be created
        measureTooltipElement = null;
        createMeasureTooltip();
        ol.Observable.unByKey(listener);
      },
      this); 4
  }

  function drawSource(type) {
    draw = new ol.interaction.Draw({
      source: source1,
      type: type,
      style: new ol.style.Style({
        fill: new ol.style.Fill({
          color: 'rgba(255, 255, 255, 0.2)'
        }),
        stroke: new ol.style.Stroke({
          color: 'rgba(0, 0, 0, 0.5)',
          lineDash: [10, 10],
          width: 2
        }),
        image: new ol.style.Circle({
          radius: 5,
          stroke: new ol.style.Stroke({
            color: 'rgba(0, 0, 0, 0.7)'
          }),
          fill: new ol.style.Fill({
            color: 'rgba(255, 255, 255, 0.2)'
          })
        })
      })
    });
  }


  function createMeasureTooltip() {
    if (measureTooltipElement) {
      measureTooltipElement.parentNode.removeChild(measureTooltipElement);
    }
    measureTooltipElement = document.createElement('div');
    measureTooltipElement.className = 'tooltip tooltip-measure';
    measureTooltip = new ol.Overlay({
      element: measureTooltipElement,
      offset: [0, -15],
      positioning: 'bottom-center'
    });
    map.addOverlay(measureTooltip);
  }

  //Camiar la geometria de la figura

  typeSelect.onchange = function () {
    map.removeOverlay(olpopup);
    map.removeInteraction(draw);
    addInteraction();
  };

  addInteraction();
  map.removeInteraction(draw)

  ////////////////////////////////////////////////////////////////////////////////////////////
  ///////////////////////////////////////////BOTONES//////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////////////


var showLayers=document.getElementById('showLayers')
showLayers.onclick = () => {
  Cmapa.showLayers();
}

  pozosBoton.onclick = () => {
    debugger;
    let miArrayAux = Cmapa.xFunction(document.getElementById('selectMapa').value);
    Cmapa.setArray(miArrayAux);
    var clusterSourceAux = Cmapa.crearClusterSource(distance.value);
    var clustersAux = Cmapa.agregarCluster(clusterSourceAux, '#2c3e50');
    map.addLayer(clustersAux);
    Cmapa.setArray(pozitos);

  //Hacer que  aparezca el PopUp  
  var popupOnOff = false; 

  popup_closer.onclick = function () {
    olpopup.setPosition(undefined);
    return false;
  };

  map.on('click', OpenPopup);
    popupOnOff=true;
    if(popupOnOff==true){
    map.addOverlay(olpopup);
}
 
  };


  removePozos.onclick = () => {
    map.removeLayer(clusters)
  };

  burbujasBoton.onclick = () => {
    var miClase = new mapUI().renderBurbujas();
  };

 removeButton.onclick = () => {
    var miClase = new mapUI().renderRemove();
  };

  anularBoton.onclick = () => {

    map.removeInteraction(draw)

  };



  distance.addEventListener('input', function () {
    clusterSource.setDistance(parseInt(distance.value, 10));
  });


</script>