<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../public/css/stylemenu.css" type="text/css">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<br>
<div class="container-flex">
    <div class="container-menu">
        <div class="box-menu">
            <div class="thumb">
                <img src="../css/img/signo .png">
            </div>
            <div class="details">
                <div class="content">
                    <i class="fa fa-gift" aria-hidden="true"></i>
                    <h3>Lorem</h3>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>

        <div class="box-menu">
            <div class="thumb">
                <img src="../css/img/oneMpas.png">
            </div>
            <div class="details">
                <div class="content">
                    <i class="fa fa-gift" aria-hidden="true"></i>
                    <h3>Mapa</h3>
                    <a href="/mapa">Read More</a>
                </div>
            </div>
        </div>
        <div class="box-menu">
            <div class="thumb">
                <img src="../css/img/oneFiltrar.png">
            </div>
            <div class="details">
                <div class="content">
                    <i class="fa fa-gift" aria-hidden="true"></i>
                    <h3>Filtrar</h3>
                    <a href="/filtrar">Read More</a>
                </div>
            </div>
        </div>
        <div class="box-menu">
            <div class="thumb">
                <img src="../css/img/signo .png">
            </div>
            <div class="details">
                <div class="content">
                    <i class="fa fa-gift" aria-hidden="true"></i>
                    <h3>Lorem</h3>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>