<main class="index"> 

    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Ingenieria Aplicada OnePro</h1>
            <h3 class="mb-5">
            <em>Making good decisions, great results.</em>
        </h3>
        <a href="/signin" class="btn  btn-primary">
        Let´s get Started
        </a>
        </div>
    </header>
</main>