td {
    font-size: 12px;
}

th {
    font-size: 10px;
}

.multiselect {
    width: 200px;
    background: #8d8787;
    font-family: 'Raleway', sans-serif;
    text-align: justify;
}

.selectBox {
    position: relative;
}

.selectBox_ {
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.selectBox select {
    width: 100%;
    /* font-weight: bold; */
    font-size: 12px;
    background: #8d8787;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.container-items {
    display: flex;
    flex-wrap: wrap;
    margin-top: -10px;
}

#checkboxes {
    display: none;
    border: 1px #dadada solid;
    position: absolute;
    background-color: #8d8787;
    width: 200px;
    max-width: 200px;
    max-height: 200px;
    padding: 8px;
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
    overflow: auto;
    z-index: 1;
}

#checkboxes label {
    display: block;
}

[id^='checkboxes'] label {
    display: block;
}

#checkboxes label:hover {
    background-color: #1e90ff;
}

[id^="checkboxesitemsX"] {
    display: none;
    border: 1px #dadada solid;
    position: absolute;
    background-color: #8d8787;
    width: 200px;
    max-width: 200px;
    max-height: 200px;
    padding: 8px;
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
    overflow: auto;
    z-index: 10;
}


/*Barra de busqueda*/

.search-box {
    background: #2C3A47;
    height: 30px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding: 10px;
}

.search-btn {
    color: #e84118;
    width: 40px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #2C3A47;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0px;
    color: white;
    font-size: 12px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    line-height: 0px;
    width: 90%;
    height: auto;
}


/*Termina barra de busqueda*/


/*Scroll*/

#checkboxes::-webkit-scrollbar {
    width: 7px;
}

#checkboxes::-webkit-scrollbar-thumb {
    background: #2C3A47;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

[id^="checkboxesitemsX"]::-webkit-scrollbar {
    width: 7px;
}

[id^="checkboxesitemsX"]::-webkit-scrollbar-thumb {
    background: #2C3A47;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}


/*Termina scroll*/


/*Checkbox

.cbx input {
    display: none;
}

.cbx {
    display: inline-block;
    padding-left: 20px;
    position: relative;
    cursor: pointer;
}

.cbx span.checkmark {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #eee;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.cbx input:checked+.checkmark {
    background-color: #2196fc;
}

.cbx:hover .checkmark {
    background-color: #ccc;
}


/*Botones*/

.btn-group-sm {
    display: flex;
}

.btn-sm {
    height: 20px;
    line-height: 0.1 !important;
    margin-top: 3px;
}


/*Fin de botones*/

.flex-container {
    display: flex;
    justify-content: center;
}


/*loader*/

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.bar {
    width: 6px;
    height: 60px;
    background: white;
    display: inline-block;
    transform-origin: bottom center;
    animation: loading 1.5s ease-in-out infinite;
}

.bar1 {
    animation-delay: 0.1s;
}

.bar2 {
    animation-delay: 0.2s;
}

.bar3 {
    animation-delay: 0.3s;
}

.bar4 {
    animation-delay: 0.4s;
}

.bar5 {
    animation-delay: 0.5s;
}

.bar6 {
    animation-delay: 0.6s;
}

.bar7 {
    animation-delay: 0.7s;
}

.bar8 {
    animation-delay: 0.8s;
}

@keyframes loading {
    0% {
        transform: scaleY(0.1);
        background: #fff;
    }
    50% {
        transform: scaleY(1);
        background: #2ecc71;
    }
    100% {
        transform: scaleY(0.1);
        background: transparent;
    }
}


/*
Fin de loader*/


/*Table*/

.table-box {
    width: 100%;
    height: 600px;
    overflow-y: auto;
    background: #fff;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.5)
}

.one-table {
    width: 100%;
}

.one-table,
th,
td {
    border: 1px solid #005277;
    border-collapse: collapse;
    text-align: left;
}

th {
    position: sticky;
    top: -1px;
    background: #303952;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
}


/*Table*/