body {
    background: #192a56;
    font-family: 'Oswald', sans-serif;
    overflow: scroll;
}

.index {
    width: 100vw;
    height: 100vh;
}

.masthead {
    color: white;
    min-height: 30rem;
    width: 100%;
    height: 100%;
    padding-top: 8rem;
    background: url('./img/descarga.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.masthead h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
}

@media (min-width: 992px) {
    .mashead h1 {
        font-size: 5.5rem;
    }
}


/* style menu */


/* 
body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: black
    
} */


/*Inicia estilos para MENU*/

.container-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-menu {
    /* transform: translate(-50%, -50%); */
    /* margin-top: 15px; */
    width: 1000px;
    height: 500px;
    display: flex;
    /* justify-content: center; */
}

.container-menu .box-menu {
    position: relative;
    width: 250px;
    height: 500px;
    background: #ccc;
    transition: 0.5s;
}

.container-menu .box-menu:hover {
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 1);
}

.container-menu .box-menu .thumb {
    position: absolute;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.container-menu .box-menu:nth-child(odd) .thumb {
    bottom: 0;
    left: 0;
}

.container-menu .box-menu .thumb img {
    width: 100%;
}

.container-menu .box-menu .details {
    position: absolute;
    width: 100%;
    height: 250px;
    overflow: hidden;
    background: #262626;
}

.container-menu .box-menu:nth-child(even) .details {
    bottom: 0;
    left: 0;
}

.container-menu .box-menu:nth-child(1) .details {
    background: #778beb;
}

.container-menu .box-menu:nth-child(2) .details {
    background: #fe8f01;
}

.container-menu .box-menu:nth-child(3) .details {
    background: #79d400;
}

.container-menu .box-menu:nth-child(4) .details {
    background: #ff3b34;
}

.container-menu .box-menu .details .content {
    position: absolute;
    top: calc(50% + 16px);
    transform: translateY(-50%);
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    transition: 0.5s;
}

.container-menu .box-menu:hover .details .content {
    top: calc(50%);
}

.container-menu .box-menu .details .content .fa {
    font-size: 80px;
    color: #fff;
}

.container-menu .box-menu .details .content h3 {
    margin: 0;
    padding: 0;
    padding: 10px 0;
    color: #fff;
}

.container-menu .box-menu .details .content a {
    display: inline-block;
    padding: 5px 20px;
    color: #fff;
    border: 2px solid #fff;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 20px;
    transform: scale(0);
}

.container-menu .box-menu:hover .details .content a {
    transform: scale(1);
}

.container-menu .box-menu .details .content a:hover {
    background: #fff;
    color: #262626;
}

@media (max-width: 1000px) {
    .container-menu {
        width: 100%;
        height: auto;
        padding: 20px;
        box-sizing: border-box;
    }
    .container-menu .box-menu {
        height: 250px;
    }
    .container-menu .box-menu .thumb {
        display: none;
    }
}

@media (max-width: 768px) {
    .container-menu {
        display: initial;
    }
    .container-menu .box-menu {
        width: 100%;
        height: 250px;
        float: center;
    }
}

@media (max-width: 480px) {
    .container-menu {
        top: 0;
        left: 0;
        transform: translate(0)
    }
    .container-menu .box-menu {
        width: 100%;
        height: 250px;
        float: center;
    }
}


/*Termina estilos para MENU*/


/*OneCss*/

select,
textarea {
    width: 100%;
}

.Onelabel {
    padding: 4px 4px 4px 0;
    display: inline-block;
}

.btnsubmit {
    background-color: #4CAF50;
    color: white;
    padding: 3px 6px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    float: right;
}

.btnsubmit:hover {
    background-color: #45a049;
    float: right;
}

.container {
    background-color: #f2f2f2;
    padding: 20px;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.5)
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 1px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 1px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}


/*OneCss*/