body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: black
    
}
.container
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 500px;
    display: flex;
    
}

.container .box
{
 position: relative;
 width: 250px;
 height: 500px;
 background: #ccc;

}